.app-input {
	$icon-padding: var(--spacer-sm);

	position: relative;

	display: inline-grid;
	row-gap: var(--spacer-sm);

	&--is-fill {
		width: 100%;
	}

	&-native {
		padding: var(--app-input-padding-md);

		color: var(--on-bg-secondary);
		font: var(--font-m);

		background-color: transparent;
		border: none;
		border-radius: var(--border-radius-base);
		outline: none;
		box-shadow: 0 0 0 1px var(--on-bg-secondary-hover);

		transition-duration: 0.3s;
		transition-property: background-color, box-shadow;

		&:hover {
			box-shadow:
				0 0 0 1px var(--on-bg-secondary-hover),
				0 0 0 3px var(--primary-color-bg);
		}

		&:focus {
			box-shadow:
				0 0 0 1px var(--primary-color),
				0 0 0 3px transparent,
				0 0 0 1px var(--primary-color) inset;
		}
	}

	&--has-icon &-native {
		padding-left: calc(var(--app-icon-size) + $icon-padding + $icon-padding);
	}

	&--is-readonly &-native,
	&--is-readonly &-native:focus,
	&--is-readonly &-native:hover {
		box-shadow:
			0 0 0 1px transparent,
			0 0 0 3px transparent,
			-4px 4px 0 0 var(--primary-color-hover),
			0 0 0 1px var(--primary-color-hover) inset;
		cursor: default;
	}

	&-icon {
		position: absolute;
		top: 50%;

		height: var(--app-icon-size);
		padding: 0 $icon-padding;

		transform: translateY(-50%);

		pointer-events: none;
	}
}
