body {
	color: var(--on-bg-secondary);
	font: var(--font-m);

	background-color: var(--bg-color);
}

.app {
	display: flex;
	min-height: 100vh;

	&.is-story {
		align-items: center;
		justify-content: center;
	}

	&.is-page-story {
		display: block;
	}
}

.app-content {
	flex-grow: 1;
}

.app-page {
	padding: var(--spacer-md);
}

.app-icon {
	width: var(--app-icon-size);
	height: var(--app-icon-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--on-bg-primary);
	font-family: var(--font-family-main);
	line-height: 1;
}

p {
	margin: 0;
}

h1,
.h1 {
	margin-bottom: var(--spacer-sm);

	font: var(--font-xl);
}

h2,
.h2 {
	margin-bottom: var(--spacer-sm);

	font: var(--font-l);
}

h3,
.h3 {
	margin-bottom: var(--spacer-sm);

	font: var(--font-m);
}

h4,
.h4 {
	margin-bottom: var(--spacer-sm);

	font: var(--font-s);
}
