.mb-sm {
	margin-bottom: var(--spacer-sm);
}

.mb-md {
	margin-bottom: var(--spacer-md);
}

.mb-lg {
	margin-bottom: var(--spacer-lg);
}

.mr-sm {
	margin-right: var(--spacer-sm);
}

.mr-md {
	margin-right: var(--spacer-md);
}

.mr-lg {
	margin-right: var(--spacer-lg);
}
