.mb-sm {
	margin-bottom: var(--spacer-sm);
}

.mb-md {
	margin-bottom: var(--spacer-md);
}

.mb-lg {
	margin-bottom: var(--spacer-lg);
}

.mr-sm {
	margin-right: var(--spacer-sm);
}

.mr-md {
	margin-right: var(--spacer-md);
}

.mr-lg {
	margin-right: var(--spacer-lg);
}

.ml-auto {
	margin-left: auto;
}

.mt-auto {
	margin-top: auto;
}

.m-none {
	margin: 0;
}

.d-flex {
	display: flex;
}

.d-inline-grid {
	display: inline-grid;
}

.d-inline-grid.gap-sm {
	gap: var(--spacer-sm);
}

.d-inline-grid.gap-md {
	gap: var(--spacer-md);
}

.d-inline-grid.gap-lg {
	gap: var(--spacer-lg);
}

.d-flex.column {
	flex-direction: column;
}

.d-inline-grid.column {
	grid-auto-flow: row;
}

.d-inline-grid.row {
	grid-auto-flow: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-self-end {
	align-self: flex-end;
}

.items-center {
	align-items: center;
}

.h-100 {
	height: 100%;
}
