:root {
	color-scheme: light dark;

	/** font **/
	--font-family-main: roboto, sans-serif;
	--font-size-s: 14px;
	--font-line-s: 24px;
	--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
	--font-size-m: 16px;
	--font-line-m: 24px;
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
	--font-size-l: 24px;
	--font-line-l: 32px;
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
	--font-size-xl: 32px;
	--font-line-xl: 40px;
	--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

	/** border-radius **/
	--border-radius-base: 10px;

	/** spacers **/
	--spacer-sm: 10px;
	--spacer-md: 20px;
	--spacer-lg: 30px;

	/** z-index **/
	--z-index-loader-absolute: 100000;
	--z-index-sidebar: 100;
}
