.app-link {
	text-decoration: underline;

	transition: color 0.25s;
}

.primary {
	color: var(--on-bg-primary);
}

.secondary {
	color: var(--on-bg-secondary);
}

.active {
	color: var(--primary-color);
}
