.profile-card {
	display: inline-flex;
	flex-direction: column;

	&-header {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: var(--spacer-lg);
	}

	&-title {
		margin-right: var(--spacer-md);
	}

	&-actions {
		display: inline-grid;
		grid-auto-flow: column;

		column-gap: var(--spacer-sm);
	}

	&-body {
		display: inline-grid;
		grid-auto-flow: row;
		row-gap: var(--spacer-md);
	}

	&-avatar {
		justify-self: center;
	}

	&-fields {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacer-md);
	}
}
