.app-card {
	display: flex;
	flex-direction: column;

	background: var(--bg-light-color);
	border-radius: var(--border-radius-base);

	box-shadow: 0 5px 15px var(--shadow-color);

	&-head {
		padding: var(--spacer-md) var(--spacer-md) 0;
	}

	&-body {
		flex-grow: 1;
		padding: var(--spacer-md);
	}

	&--is-sm &-head {
		padding: var(--spacer-sm) var(--spacer-sm) 0;
	}

	&--is-sm &-body {
		padding: var(--spacer-sm);
	}

	&--is-lg &-head {
		padding: var(--spacer-lg) var(--spacer-lg) 0;
	}

	&--is-lg &-body {
		padding: var(--spacer-lg);
	}
}
