.app-card {
	background: var(--bg-light-color);
	border-radius: var(--border-radius-base);

	&-cover {
		width: 100%;
		max-width: 100%;
		height: 200px;
		object-fit: cover;
	}

	&-body {
		padding: var(--spacer-md);
	}
}
