.app.dark {
	--bg-color: rgb(13 13 13);
	--bg-light-color: rgb(18 18 18);
	--primary-color: rgb(100 140 255);
	--primary-color-bg: rgb(100 140 255 / 10%);
	--primary-color-hover: rgb(100 140 255 / 20%);
	--secondary-color: rgb(4 73 224);
	--on-bg-primary: rgb(216 216 216);
	--on-bg-secondary: rgb(216 216 216);
	--on-bg-secondary-hover: rgb(216 216 216 / 2%);
}
