.app.light {
	--bg-color: #e8e8ea;
	--bg-light-color: #ffffff;
	--primary-color: rgb(27 89 248);
	--primary-color-hover: rgb(27 89 248 / 10%);
	--secondary-color: #0449e0;
	--on-bg-primary: rgb(0 0 0);
	--on-bg-secondary: rgb(0 0 0 / 70%);
	--on-bg-secondary-hover: rgb(0 0 0 / 7%);
}
