@mixin light-variables {
	--bg-color: rgb(249 249 249);
	--bg-light-color: rgb(255 255 255);
	--bg-light-color-transparent: rgb(255 255 255 / 70%);
	--primary-color: rgb(27 89 248);
	--primary-color-bg: rgb(27 89 248 / 10%);
	--primary-color-hover: rgb(27 89 248 / 20%);
	--secondary-color: rgb(4 73 224);
	--on-bg-primary: rgb(0 0 0);
	--on-bg-secondary: rgb(0 0 0 / 70%);
	--on-bg-secondary-hover: rgb(0 0 0 / 7%);
	--overlay-color: rgb(0 0 0 / 30%);
	--shadow-color: var(--on-bg-secondary-hover);
}

body[data-theme="auto"] {
	@media (prefers-color-scheme: light) {
		@include light-variables;
	}
}

body[data-theme="light"] {
	@include light-variables;
}
