.app-select {
	display: inline-grid;
	gap: var(--spacer-sm);

	&--is-label-start {
		grid-auto-flow: column;
		align-items: center;
	}

	&-options-container {
		position: relative;
	}

	&-options {
		position: absolute;
		z-index: var(--z-index-popover);

		display: grid;
		width: max-content;
		margin: 0;
		padding: var(--spacer-md);

		list-style-type: none;

		background-color: var(--bg-light-color);
		border-radius: var(--border-radius-base);
		box-shadow: 0 5px 20px var(--shadow-color);
		row-gap: var(--spacer-sm);
	}
}

.options-transition {
	&-leave,
	&-enter {
		transition: opacity 0.25s;
	}

	&-enter-to,
	&-leave-from {
		opacity: 1;
	}

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}
}
