@mixin button-theme($color, $bg-color, $bg-color-hover) {
	color: $color;

	background-color: $bg-color;

	&:hover {
		background-color: $bg-color-hover;
	}
}

.app-button {
	display: inline-grid;
	grid-auto-flow: column;
	gap: 16px;
	align-items: center;
	justify-content: center;
	padding: var(--app-button-padding-md);

	color: var(--primary-color);
	font: var(--font-s);

	background: none;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--border-radius-base);
	outline: none;
	cursor: pointer;

	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

	&--is-fill {
		width: 100%;
	}

	&--is-link {
		text-decoration: none;
	}

	&-sm {
		padding: var(--app-button-padding-sm);
	}

	&-lg {
		padding: var(--app-button-padding-lg);
	}

	&-clear {
		@include button-theme(var(--on-bg-secondary), transparent, var(--on-bg-secondary-hover));
	}

	&-primary {
		@include button-theme(var(--primary-color), var(--primary-color-bg), var(--primary-color-hover));
	}
}
