@mixin button-theme(
	$color,
	$bg-color,
	$bg-color-hover,
	$border-color: transparent,
	$border-color-hover: transparent,
	$outline-color-hover: transparent,
) {
	color: $color;

	background-color: $bg-color;
	box-shadow: 0 0 0 1px $border-color, 0 0 0 3px transparent;

	&:focus-visible,
	&:hover:not(&:disabled) {
		background-color: $bg-color-hover;
		box-shadow: 0 0 0 1px $border-color-hover, 0 0 0 3px $outline-color-hover;
	}
}

.app-button {
	display: inline-grid;
	grid-auto-flow: column;
	gap: 16px;
	align-items: center;
	justify-content: center;
	padding: var(--app-button-padding-md);

	color: var(--primary-color);
	font: var(--font-s);

	background: none;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-radius: var(--border-radius-base);
	outline: none;
	cursor: pointer;

	transition-duration: 0.25s;
	transition-property: background-color, color, box-shadow;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.8;
	}

	&--is-fill {
		width: 100%;
	}

	&--is-link {
		text-decoration: none;
	}

	&--is-content-start {
		justify-content: start;
	}

	&--is-content-center {
		justify-content: center;
	}

	&--is-content-end {
		justify-content: end;
	}

	&-sm {
		padding: var(--app-button-padding-sm);
	}

	&-lg {
		padding: var(--app-button-padding-lg);
	}

	&-clear {
		@include button-theme(var(--on-bg-secondary), transparent, var(--on-bg-secondary-hover));
	}

	&-primary {
		@include button-theme(var(--primary-color), var(--primary-color-bg), var(--primary-color-hover));
	}

	&-primary-outline {
		@include button-theme(
			var(--on-bg-secondary),
			transparent,
			transparent,
			var(--on-bg-secondary-hover),
			var(--primary-color-hover),
			var(--primary-color-bg),
		);
	}
}
