.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	padding: var(--spacer-md);

	&-title {
		margin: 0;

		font: var(--font-l);
		font-weight: 500;
	}

	&-toolbar {
		margin-left: auto;
	}
}
