.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	padding: var(--spacer-md);
}

.links {
	display: inline-grid;
	grid-auto-flow: column;
	margin-left: auto;

	column-gap: var(--spacer-md);
}
