.the-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: var(--sidebar-z-index);

	display: flex;
	flex-direction: column;
	width: var(--sidebar-width);
	padding: var(--spacer-sm);
	overflow-x: hidden;

	color: var(--on-bg-secondary);
	white-space: nowrap;

	background-color: var(--bg-light-color);
	border-top-right-radius: var(--border-radius-base);
	border-bottom-right-radius: var(--border-radius-base);
	box-shadow: 0 5px 15px var(--shadow-color);

	transition-duration: 0.35s;
	transition-property: width, box-shadow;

	&-placeholder {
		min-width: var(--sidebar-width);
	}

	&-btn-group {
		display: grid;
		row-gap: var(--spacer-sm);

		&--is-bottom {
			margin-top: auto;
		}
	}

	&-btn {
		justify-content: start;
		overflow-x: hidden;
	}
}

.expanded {
	width: var(--sidebar-width-expanded);

	box-shadow: 0 10px 20px var(--shadow-color);

	transition-delay: 0.25s;
}
