.app-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: var(--z-index-modal);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--overlay-color);

	&-content {
		position: relative;

		width: 100%;
		max-width: 500px;
		margin: var(--spacer-md);
		padding: var(--spacer-md);

		background-color: var(--bg-light-color);
		border-radius: var(--border-radius-base);
	}

	&-header {
		display: flex;
		align-items: center;
		padding-bottom: var(--spacer-md);
	}

	&-close-btn {
		margin-left: auto;
	}

	&-close-btn-icon {
		// FIXME: remove sizes after svg loader fix
		width: 24px;
		height: 24px;

		// FIXME: fix svg loader to add 'fill' attribute if it's not exist
		fill: currentcolor;
	}

	/* React Transition */
	&-enter {
		opacity: 0;
	}

	&-enter &-content {
		transform: translateY(30px);
	}

	&-enter-active {
		opacity: 1;

		transition: opacity 0.25s ease-in-out;
	}

	&-enter-active &-content {
		transform: translateY(0);

		transition: transform 0.25s ease-in-out;
	}

	&-exit {
		opacity: 1;
	}

	&-exit &-content {
		transform: translateY(0);

		transition: transform 0.25s ease-in-out;
	}

	&-exit-active {
		opacity: 0;

		transition: opacity 0.25s ease-in-out;
	}

	&-exit-active &-content {
		transform: translateY(30px);
	}
}
